"use strict";

module.exports = {
	production : {
		host: 'localhost',
		user: 'root',
		password: '',
		database: 'pp_webapp'
	},
	testing : {
		host: 'localhost',
		user: 'root',
		password: '',
		database: 'pp_webapp'
	}
};

